.App {
  text-align: center;
}

.body {
  background-color: #afd4c0;
  margin-top: 80px;
  /* height: 100%; */
  /* position: absolute; */
  overflow-y: auto;
}

.body2 {
  /* background-color: #afd4c0; */
  /* margin-top: 80px; */
  width: 720px;
  /* height: 100vh; */
  background-color: #e5f4ec;
  margin: auto;
  padding-bottom: 1px;
  
}



.wizardInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
 
}

input {
  width: 400px;
  height: 25px;
  margin: 20px;
}

.header {
  background-color: #519872;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header h1 {
  color: white;
  margin-top: none !important;
  margin-left: 200px;
}

.wizard1 {
  width: 720px;
  height: 100vh;
  background-color: #e5f4ec;
  margin: auto;
}

.title1 {
  margin:10px !important;
}

img {
  height: 140px;
  width: auto;
  margin: 10px;
}

.oneHouse {
  width: 680px;
  height: 180;
  background-color: #dedede;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

p {
  margin: 8px;
  text-align: left;
}

.line {
  border: 1px solid black;
  width:660px;
  margin-left: 20px;
}
.titleCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delete {
  height: 20px;
  border: none;
  font-size: 1rem;
  margin-top: 5px;
}

.addProperty  {
  margin: 20px;
  background-color: #8AEA92;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}

.cancel {
  margin: 20px;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: #FEC2C2;
}

.wizNav {
  background-color: #3B5249;
  color: white;
  position: absolute;
  bottom: 30px;
  right: 450px;
  border: none;
  font-weight: 700;
  padding: 10px;
  font-size: 20px;

}

.wizNav1 {
    background-color: #3B5249;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 450px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

.addProperty1  {
  margin: 20px;
  background-color: #8AEA92;
  border: none;
  padding: 11px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  right: 430px;

}





